asgiref==3.3.1
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
channels==3.0.3
chardet==4.0.0
constantly==15.1.0
cryptography==3.4.7
daphne==3.0.2
dj-database-url==0.5.0
Django==3.1.4
django-crispy-forms==1.10.0
django-heroku==0.3.1
django-phonenumber-field==5.0.0
django-widget-tweaks==1.4.8
et-xmlfile==1.0.1
gunicorn==20.0.4
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
messagebird==1.5.0
numpy==1.20.2
openpyxl==3.0.7
pdfrw==0.4
phonenumbers==8.12.20
Pillow==8.1.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==1.7.1
pyOpenSSL==20.0.1
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.5
reportlab==3.5.59
requests==2.25.1
selenium==3.141.0
service-identity==18.1.0
shortuuid==1.0.1
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
twilio==6.54.0
Twisted==21.2.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
urllib3==1.26.4
uuid==1.30
whitenoise==5.2.0
zope.interface==5.4.0
